public-hoist-pattern[]=*@radix-ui*
public-hoist-pattern[]=*@vercel*
shamefully-hoist=true
strict-peer-dependencies=false
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=bcryptjs
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
